<% @title = '次の殴られ屋さんへ' %>
<h1>次の殴られ屋さんへ</h1>

<h2>使い方</h2>
<p>このページをブックマークしてください。</p>
<p>ブックマークリストから「次の殴られ屋さんへ」を選ぶと殴られ屋さんページに飛びます。</p>
<p>もう一度「次の殴られ屋さんへ」を選ぶと別の殴られ屋さんページに飛びます。</p>

<hr>
<p><%= link_to 'もどる', :root %></p>
